ul {
  list-style: none;
}
.list {
  padding: 0;
  width: 100%;
  background-color: #f8f8ff;
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px;
}
.list-items:hover {
  background-color: white;
}
